<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/../../public/images/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content="Examples Template" />
        <link rel="apple-touch-icon" href="/../../public/images/logo.png" />
        <title>Example Template</title>
    </head>
    <body class="bg-light">
        <header class="bd-header d-flex align-items-stretch border-bottom bg-light app-header">
            <a href="/"><img src="/../../public/images/logo.svg" class="app-logo" alt="logo" /></a>
            <span class="fs-4 app-title">Example Template</span>
        </header>
        <div class="container-fluid">
            This is an example template
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
